THEORETICAL QUESTIONS:

1.What are data structures, and why are they important?
  - Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently.It's importance is:
  1)it improves the performance of program.
  2)essential for algorithms like sorting,searching etc.

2.Explain the difference between mutable and immutable data types with examples?
 - Mutable Can be changed after creation(Examples	list, dict, set)	Immutable Cannot be changed after creation(float, str, tuple).

3.What are the main differences between lists and tuples in Python?
 - list is mutable(used when data may change) and tuple is immutable(used when data is constant),list syntax is[1,2,3] and tuple syntax is(1,2,3).

4.Describe how dictionaries store data?
 - Python dictionaries store data in key-value pairs.
Example)student = {"name": "Alice", "age": 20}
print(student["name"])  # Output: Alice

5.Why might you use a set instead of a list in Python?
- sets can be used over list when no duplicates are allowed.

6.What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in quotes ('hello', "world") and it is immutable ,whereas list is of any type i.e int,str,float and list is mutable.

7.How do tuples ensure data integrity in Python?
 - Tuples are immutable, meaning once created, their contents cannot be changed. This ensures the data inside remains unchanged and safe throughout the program.

8.What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs. It uses a hash function to convert keys into a unique index in an array, making access very fast and Dictionaries (dict) use hash tables internally, Keys are hashed, and their values are stored at the corresponding location.

9.Can lists contain different data types in Python?
 - Yes. Python lists are heterogeneous, meaning they can store elements of different data types in the same list.

10.Explain why strings are immutable in Python?
 - Strings are immutable as it prevents accidental changes in shared or reused strings.They can be safely reused.

11.What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries (dict) are key-value stores, which makes them:Faster for lookups , Flexible for storing structured data.

12.Describe a scenario where using a tuple would be preferable over a list?
 - Storing fixed coordinates:location = (28.6139, 77.2090)  # Latitude, Longitude

13.How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates. When you add a duplicate, it's ignored.

14.*P How does the “in” keyword work differently for lists and dictionaries?
 - Presence of a value in a list whereas Presence of a key in a dictionory.

15.Can you modify the elements of a tuple? Explain why or why not?
 - tuples are immutable,there value can not be changed after creation.

16.What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary within another dictionary.
 students = {
    "1001": {"name": "Alice", "age": 20},
    "1002": {"name": "Bob", "age": 21}
}
print(students["1001"]["name"])  # Output: Alice

17. Describe the time complexity of accessing elements in a dictionary?
 - Time Complexity: O(1) on average for lookup, insertion, and deletion.

18.In what situations are lists preferred over dictionaries?
 - list is preferred when order matters and when you only need values and not key value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - dictionaries are considered unordered as they're still not indexed by position,retrieval is by key, not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
 - list is accessed by a index and it is of ordered nature whereas dict is accessed by a key and it is of unordered nature.

PRACTICAL QUESTIONS:

In [1]:
#1.Write a code to create a string with your name and print it?
name = "Sameer Monga"
print(name)

Sameer Monga

In [2]:
#2.Write a code to find the length of the string "Hello World"?
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
s = "Python Programming"
first_three = s[:3]
print("First 3 characters:", first_three)

First 3 characters: Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase?
word = "hello"
uppercase_word = word.upper()
print("Uppercase:", uppercase_word)

Uppercase: HELLO

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]?
list_to_reverse = [10, 20, 30, 40, 50]
list_to_reverse.reverse()
print("Reversed list:", list_to_reverse)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it?
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [13]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
numbers = (10, 20, 5, 15)
min_value = min(numbers)
print("Minimum number:", min_value)

Minimum number: 5

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print("Index of 'cat':", cat_index)

Index of 'cat': 1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruits = ('apple', 'banana', 'orange')
is_kiwi_present = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False

In [16]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print("Cleared set:", numbers)

Cleared set: set()

In [18]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}?
s = {1, 2, 3, 4}
s.remove(4)
print("Set after removing 4:", s)

Set after removing 4: {1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {2, 3}

In [21]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
person = {
    "name": "Alice",
    "age": 30,
    "city": "Paris"
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [22]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print("Name:", name_value)

Name: Alice

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
is_city_present = "city" in person
print("Is 'city' a key?", is_city_present)

Is 'city' a key? True

In [26]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result(replaced)?
import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [8, 13, 44, 75, 94]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "fig"]
print("Element at third index:", string_list[3])

Element at third index: date

In [29]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print("Set from list:", string_set)

Set from list: {'cherry', 'apple', 'banana'}